<a href="https://colab.research.google.com/github/JAK0707/Python-Assignment/blob/main/Assignment_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

L is a list defined as L= [11, 12, 13, 14].
(i) WAP to add 50 and 60 to L.
(ii) WAP to remove 11 and 13from L.
(iii) WAP to sort L in ascending order.
(iv) WAP to sort L in descending order.
(v) WAP to search for 13 in L.
(vi) WAP to count the number of elements present in L.
(vii) WAP to sum all the elements in L.
(viii) WAP to sum all ODD numbers in L.
(ix) WAP to sum all EVEN numbers in L.
(x) WAP to sum all PRIME numbers in L.
(xi) WAP to clear all the elements in L.
(xii) WAP to delete L.

In [ ]:
L= [11, 12, 13, 14]
print(L)

[11, 12, 13, 14]

In [ ]:
#(i)

L.append(50)
L.append(60)
print(L)

[11, 12, 13, 14, 50, 60]

In [ ]:
#(ii)

L.remove(11)
L.remove(13)
print(L)

[12, 14, 50, 60]

In [ ]:
#(iii)

L.sort()
print(L)

[12, 14, 50, 60]

In [ ]:
#(iv)

L.sort(reverse=True)
print(L)

[60, 50, 14, 12]

In [ ]:
#(v)

search = 13 in L
print(search)

False

In [ ]:
#(vi)

count = len(L)
print("No. of elements in L = ",count)

No. of elements in L =  4

In [ ]:
#(vii)

sum = sum(L)
print("Sum of elements of",L,"=",sum)

Sum of elements of [60, 50, 14, 12] = 136

In [ ]:
#(viii)

odd_sum = 0
for i in L:
  if(i%2!=0):
    odd_sum+=i
print("Sum of all odd numbers in",L,"=",odd_sum)

Sum of all odd numbers in [60, 50, 14, 12] = 0

In [ ]:
#(ix)

even_sum = 0
for i in L:
  if(i%2==0):
    even_sum+=i
print("Sum of all odd numbers in",L,"=",even_sum)

Sum of all odd numbers in [60, 50, 14, 12] = 136

In [ ]:
#(x)

def is_prime(num):
    if num < 2:
        return False
    if num == 2:
        return True
    if num % 2 == 0:
        return False
    for i in range(3, int(num**0.5) + 1, 2):
        if num % i == 0:
            return False
    return True

# List defined as L
L = [11, 12, 13, 14]

sum_prime = 0
for num in L:
    if is_prime(num):
        sum_prime += num

print("Sum of all prime numbers in", L, "=", sum_prime)
#wrong

Sum of all prime numbers in [11, 12, 13, 14] = 24

In [ ]:
#(xi)

L.clear()
print(L)

[]

In [ ]:
#(xii)

del L

Q2. D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.
(i) WAP to add new entry in D; key=8 and value is 8.8
(ii) WAP to remove key=2.
(iii) WAP to check weather 6 key is present in D.
(iv) WAP to count the number of elements present in D.
(v) WAP to add all the values present D.
(vi) WAP to update the value of 3 to 7.1.
(vii) WAP to clear the dictionary.

In [ ]:
D = {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}

In [ ]:
#(i)

D[8] = 8.8
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
#(2)

if 2 in D:
  del D[2]

print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
#(iii)

key_6_present = 6 in D
print(key_6_present)

False

In [ ]:
#(iv)

count = len(D)
print("No. of elements in",D,"=",count)

No. of elements in {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8} = 5

In [ ]:
#(v)

total_sum = 0
for value in D.values():
    total_sum += value

# Print the result
print("Sum of all values in",D,"=",total_sum)

Sum of all values in {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8} = 37.4

In [ ]:
#(vi)

if 3 in D:
  D[3] = 7.1

print(D)

{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
#(vii)

D.clear()
print(D)

{}

S1 is a set defined as S1= {10, 20, 30, 40, 50, 60}.
S2 is a set defined as S2= {40, 50, 60, 70, 80, 90}.
(i) WAP to add 55 and 66 in Set S1.
(ii) WAP to remove 10 and 30 from Set S1.
(iii) WAP to check whether 40 is present in S1.
(iv) WAP to find the union between S1 and S2.
(v) WAP to find the intersection between S1 and S2.
(vi) WAP to find the S1 - S2.

In [ ]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
print("S1 = ",S1)
print("S2 = ",S2)

S1 =  {50, 20, 40, 10, 60, 30}
S2 =  {80, 50, 70, 40, 90, 60}

In [ ]:
#(i)

S1.add(55)
S1.add(66)
print(S1)

{50, 66, 20, 55, 40, 10, 60, 30}

In [ ]:
#(ii)

S1.remove(10)
S1.remove(30)
print(S1)

{50, 66, 20, 55, 40, 60}

In [ ]:
#(iii)
if 40 in S1:
  print("40 is present in S1")
else:
  print("40 is not present in S1")

40 is present in S1

In [ ]:
#(iv)

S3 = S1.union(S2)
print(S3)

{70, 40, 10, 80, 50, 20, 90, 60, 30}

In [ ]:
#(v)

S3 = S1.intersection(S2)
print(S3)

{40, 50, 60}

In [ ]:
#(vi)

S3 = S1.difference(S2)
print(S3)

{10, 20, 30}

Write the following program.
(i) WAP to print 100 random strings whose length between 6 and 8.
(ii) WAP to print all prime numbers between 600 and 800.
(iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9

In [ ]:
#(i)

import random
import string

# Generate 100 random strings
for i in range(100):
  length = random.randint(6, 8)
  chars = ''.join(random.choice(string.ascii_letters) for j in range(length))
  print(chars)

lgEPTNVd
YWBMhHO
FdDNgvQ
nqHqbVYy
pPzRQF
LcBmUg
kXNXKVua
XjOPHzZe
LXlOeY
zQssqfQ
cwRqIV
rxnSfHq
UnUTOz
ggbmduek
OgdoLI
zdGzdvtJ
OESYYV
kSXBEoU
gUzHXRq
QwJWFITz
KQIzVN
yIVxfkA
HjBaMxW
UevALdc
YdfyBcH
tHCxiIX
WTrWnn
CJJBuqxF
abvUmpy
ifHTwUgd
qlePZMlF
TAdwXVtZ
NQmORLK
PakbxaO
eyXsZG
rMDJJQg
ggsEuR
wfvbhL
cmELXGtN
vXYAlvI
ONVTYlR
JwfhejA
igMncyI
TcUiXac
vSZWfHU
kSwCAc
EwbZnGql
pnUoPSJK
IBbBVIEg
YVaCuq
ehHuZl
TzudtD
hgZnDhpc
KxIhNK
AsIrSGQ
dgSNmXHK
DbupjG
sgfBpW
heWxOW
MDyOVjS
WZSZwmY
jbprRzkB
RCGQrk
QKBCDMPv
ySBjks
yhiXGXP
LLQRHZ
LIlBROo
UfrpQFsZ
ciofZeBL
lViJcG
ARtZVwUG
RoHdpTx
OswyucK
XBVCNFQw
QHrTfuo
BoBzkn
NjrxFi
gGTEXYi
etdUZvq
BghjuIs
bgorFqjR
FoLcqF
LWOnbJig
PyiEilK
FiVXeTZ
ULMeokeD
ulQKABtL
KHzGXr
gSZwLhMa
SXUOOcD
UGvnjsoR
WPdeHKqv
MTEfhKfr
LZjtGMqB
trSjWo
VNQorfJH
fnBEGqNI
QaTkVKGq
QdBAquh

In [ ]:
#(ii)

def sieve_of_eratosthenes(start, end):
    primes = [True for i in range(end + 1)]
    p = 2
    while (p * p <= end):
        if (primes[p] == True):
            for i in range(p * p, end + 1, p):
                primes[i] = False
        p += 1

    prime_numbers = []
    for p in range(start, end + 1):
        if primes[p]:
            prime_numbers.append(p)

    return prime_numbers

print(sieve_of_eratosthenes(600, 800))

[601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797]

In [ ]:
#(iii)

for i in range(100, 1000):
    if i % 7 == 0 and i % 9 == 0:
        print(i)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

WAP to create two lists of 10 random numbers between 10 and 30; Find
(i) Common numbers in the two lists
(ii) Unique numbers in both the list
(iii) Minimum in both the list
(iv) Maximum in both the list
(v) Sum of both the lists

In [1]:
import random

# Function to generate a list of random numbers between 10 and 30
def generate_random_list(length):
    return [random.randint(10, 30) for _ in range(length)]

# Function to find common numbers in two lists
def find_common_numbers(list1, list2):
    return list(set(list1) & set(list2))

# Function to find unique numbers in a list
def find_unique_numbers(list1, list2):
    return list(set(list1) ^ set(list2))

# Function to find the minimum in a list
def find_minimum(list1):
    return min(list1)

# Function to find the maximum in a list
def find_maximum(list1):
    return max(list1)

# Function to find the sum of a list
def find_sum(list1):
    return sum(list1)

# Generate two lists of random numbers
list1 = generate_random_list(10)
list2 = generate_random_list(10)

# Find common numbers in the two lists
common_numbers = find_common_numbers(list1, list2)

# Find unique numbers in both lists
unique_numbers = find_unique_numbers(list1, list2)

# Find minimum and maximum in both lists
min_list1 = find_minimum(list1)
max_list1 = find_maximum(list1)
min_list2 = find_minimum(list2)
max_list2 = find_maximum(list2)

# Find the sum of both lists
sum_list1 = find_sum(list1)
sum_list2 = find_sum(list2)

# Output the results
print("List 1:", list1)
print("List 2:", list2)
print("Common numbers:", common_numbers)
print("Unique numbers:", unique_numbers)
print("Minimum in List 1:", min_list1)
print("Minimum in List 2:", min_list2)
print("Maximum in List 1:", max_list1)
print("Maximum in List 2:", max_list2)
print("Sum of List 1:", sum_list1)
print("Sum of List 2:", sum_list2)

List 1: [23, 24, 11, 25, 21, 25, 18, 11, 27, 18]
List 2: [23, 22, 21, 14, 14, 12, 25, 11, 22, 25]
Common numbers: [25, 11, 21, 23]
Unique numbers: [12, 14, 18, 22, 24, 27]
Minimum in List 1: 11
Minimum in List 2: 11
Maximum in List 1: 27
Maximum in List 2: 25
Sum of List 1: 203
Sum of List 2: 189